@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "About";
}

<p class="textblock">
    Die Software LCAweb soll als eine Anwendung zur Messung, Bewertung sowie Darstellung von Produkten und deren
    ökologischen Rucksack dienen. Die Entwicklung der Software entstand durch die kooperative Zusammenarbeit der Deutschen Bahn AG
    und der Hochschule für Technik und Wirtschaft Berlin. Die DB AG als Auftraggeber, wird vorerst primärer Nutzer von LCAweb sein.
    Aus diesem Grund liegt das Interesse, Produkte, wie Züge, Gebäude und Brücken der DB AG auf ihren Umwelteinfluss vergleichend
    zu untersuchen. <br /> <br /><br />
    Da es sich hierbei um eine Stoffstromanalyse von Produkten handelt, bietet sich das Life Cycle Assessment
    (Ökobilanz) als Analysemethode an. Da sich die LCAweb Software Version 1.0 einiger Grundbausteine der klassischen Ökobilanz
    bedient und bisher keine detailreiche Bewertung zulässt, ist hier von einem Werkzeug zur ökobilanziellen Bewertung zusprechen.
</p>
<div id="centeredBox">
    <div id="content-centered">
        <img id="content-centered" src="../Images/Ökobilanz.png" />
        <span>
            Komponenten einer &Ouml;kobilanz nach ISO EN 14040 (1997 und 2006)

            (Quelle: vgl. Klöpffer, Walter; Grahl, Birgit: Ökobilanz (LCA): Ein Leitfaden für Ausbildung und Beruf, Wiley-VCH Verlag: Weinheim, 2009)
        </span>
    </div>
</div><br /><br />
<p class="textblock">
    Das System bietet Auswertungen auf Sachbilanz- und Umweltbewertungsebene einzelner, sowie aller Wertschöpfungsstufen (cradle
    to grave) an. Dank dieser Auswertungen lassen sich bestehende Produktionen optimieren, Produkte energie- und ressourceneffizienter
    fertigen, sowie ein Überblick über die gesamten Umweltauswirkungen aller Produkte erhalten.
</p>
<div id="centeredBox">
    <div id="content-centered">
        <img src="../Images/CradleToGrave.png" />
        <span>
            Vereinfachter Lebensweg eines (materiellen) Produktes
            (Quelle: vgl. Klöpffer, Walter; Grahl, Birgit: Ökobilanz (LCA): Ein Leitfaden für Ausbildung und Beruf, Wiley-VCH Verlag: Weinheim, 2009)
        </span>
    </div>
</div>
<br /><br />
<p class="textblock">
    Die von der DB AG bestehende Software „Green ET“ ist eine sehr statische und unflexible Lösung, da diese eine Microsoft Excel
    Anwendung ist und kein Spielraum für Erweiterungen, im Sinne einer nachhaltigen Bedienung des gesamten Unternehmens, zulässt.
    Mit der Nutzung der neuen Software, soll es Unternehmen, wie die DB AG möglich sein, Analysen dynamischer über eine webbasierte
    Anwendung mit Datenbankzugriff, zu tätigen.
</p>


