@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Contact";
}
<br /><br /><br /><br /><br />
<div id="centeredBox">
    <div id="content-centered">
        <address id="#content-centered">
            Hochschule f&uuml;r Technik und Wirtschaft Berlin</><br />
            Wilhelminenhofstraße 75A<br />
            12459 Berlin<br />
            <abbr title="Phone">Telefon:</abbr>
            (030) 5019 - 0
        </address>
    </div>
    <div id="content-centered">
        <address id="#content-centered">
            <strong>Support:</strong>   <a href="mailto:s0544030@htw-berlin.de">Corana Seewald</a>
        </address>
    </div>
</div>