@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Hilfe";
}
<br /><br /><br /><br /><br />
<div id="centeredBox">
    <div id="content-centered">
        <p id="#content-centered">
            Falls Sie Hilfe benötigen zu Funktionen oder anderen Bereichen der Software, schreiben Sie uns bitte eine <a href="mailto:s0544030@htw-berlin.de">E-Mail</a>. <br />
            Wir werden uns schnellstmöglich um Ihr Anliegen kümmern.<br /><br /><br /><br />
            Ein Hilfe-Portal ist geplant und wird hier demnächst zur Verfügung stehen.
        </p>
    </div>
</div>